﻿@model FundsupWebApplication.Models.ViewModels.PaymentViewModel

@{
    ViewBag.Title = "Payment Processing";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new {  });
    <div class="form-horizontal">
        <h4>Process Donation</h4>
        @Html.HiddenFor(model => model.Cause.Key)
        @Html.HiddenFor(model => model.Cause.Description)
        @Html.HiddenFor(model => model.Cause.ShortDescription)
        @Html.HiddenFor(model => model.Cause.Name)
        @Html.HiddenFor(model => model.Cause.Amount)
        @Html.HiddenFor(model => model.DonorKey)
        @Html.HiddenFor(model => model.TransactionKey)

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">You are about to donate R<span>@Model.Cause.Amount</span> towards the @Model.Cause.Name Venture</div>
        </div>

        <div class="row mt-1">
            <div class="col-md-2"><b>@Html.Label("Card Type", htmlAttributes: new { @class = "control-label" })</b></div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.CreditCardType, Model.CreditCardTypes, "", new { @class = "form-control", style = "max-width:100% !important" })
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-2"><b>@Html.Label("Name on Card", htmlAttributes: new { @class = "control-label" })</b></div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.CreditcardHolderName, new { htmlAttributes = new { @class = "form-control", style = "max-width:100% !important", placeholder = "Name on credit card" } })
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-2"><b>@Html.Label("Card Number", htmlAttributes: new { @class = "control-label" })</b></div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.CreditCardNumber, new { htmlAttributes = new { @class = "form-control", style = "max-width:100% !important", placeholder = "Card Number" } })
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-2"><b>@Html.Label("Expiry Date", htmlAttributes: new { @class = "control-label" })</b></div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ExpiryMonth, Model.ExpiryMonths, "", new { @class = "form-control", style = "max-width:100% !important" })
            </div>
            <div class="col-md-1 ml-0 mr-0 pl-0 pr-0 text-center" style="line-height:40px;"><b>/</b></div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ExpiryYear, Model.ExpiryYears, "", new { @class = "form-control", style = "max-width:100% !important" })
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-2"><b>@Html.Label("CCV", htmlAttributes: new { @class = "control-label" })</b></div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.CCV, new { htmlAttributes = new { @class = "form-control", style = "max-width:100% !important", placeholder = "CCV" } })
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <input type="submit" value="Proceed with donation" class="btn btn-success btn-block" />
            </div>
        </div>
        <br />
    </div>
}


