﻿@model FundsupWebApplication.Models.ViewModels.CauseViewModel
@{
    ViewBag.Title = "Edit Venture";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DonorKey)

    if (Model.Cause.Key > 0)
    {
        @Html.HiddenFor(model => model.NewMilestone.CauseKey)
    }

    if (Model.Cause.Key > 0)
    {
        @Html.HiddenFor(model => model.Cause.Key)
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row mb-5">
        <div class="col-md-12">
            <a class="font-weight-bold" href="@Url.Action("Profile", "Donor", new { donorKey = Model.DonorKey })" title="return to Profile"><i class="fa fa-2x fa-arrow-circle-left"></i></a>
        </div>
        <b>@Html.Label("Venture", htmlAttributes: new { @class = "control-label col-md-12 mt-1 mb-0" })</b>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Cause.Name, new { htmlAttributes = new { @class = "form-control", style = "max-width:100% !important", placeholder = "Venture name" } })
            @Html.ValidationMessageFor(model => model.Cause.Name, "", new { @class = "text-danger" })
        </div>

        <b>@Html.Label("Short Description of Venture", htmlAttributes: new { @class = "control-label col-md-12 mt-1 mb-0" })</b>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Cause.ShortDescription, new { htmlAttributes = new { @class = "form-control", style = "max-width:100% !important", placeholder = "Give a short description of the venture no longer than 50 characters." } })
            @Html.ValidationMessageFor(model => model.Cause.ShortDescription, "", new { @class = "text-danger" })
        </div>

        <b>@Html.Label("Tell us more about the Venture", htmlAttributes: new { @class = "control-label col-md-12 mt-1 mb-0" })</b>
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Cause.Description, new { @class = "form-control", @cols = 12, @rows = 6, style = "max-width:100% !important", placeholder = "Give a detailed description of the venture to attract donors..." })
            @Html.ValidationMessageFor(model => model.Cause.Description, "", new { @class = "text-danger" })
        </div>

        <b>@Html.Label("Funding required", htmlAttributes: new { @class = "control-label col-md-12 mt-1 mb-0" })</b>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Cause.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Total funding required" } })
            @Html.ValidationMessageFor(model => model.Cause.Amount, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-8">
            @{
                double totalMilestonesAmount = 0;
                double differenceAmount = 0;
                if (Model.Milestones != null && Model.Milestones.Count > 0)
                {
                    totalMilestonesAmount = Model.Milestones.Sum(x => x.Amount);
                    differenceAmount = (double)Model.Cause.Amount - totalMilestonesAmount;
                }
            }

            <i>Milestones total to <b>R @totalMilestonesAmount</b>. There is a difference of <b>R @differenceAmount</b> compared to the total funding required. </i>
        </div>

        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col-md-12"><b>Milestones (add at least 1 Milestones)</b></div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>
                            @Html.EditorFor(model => model.NewMilestone.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Add new milestone" } })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.NewMilestone.StartDate, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Start date" } })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.NewMilestone.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "End date" } })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.NewMilestone.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Amount", onclick = "this.Select()" } })
                        </td>
                        <td><button type="submit" class="btn btn-block btn-success" value="Add Milestone" title="Add Milestone"><i class="fa fa-plus"></i></button></td>
                    </tr>


                    @if (Model.Milestones != null && Model.Milestones.Count > 0)
                    {
                        for (int i = 0; i < Model.Milestones.Count(); i++)
                        {
                            @Html.HiddenFor(model => Model.Milestones[i].CauseKey)
                            @Html.HiddenFor(model => Model.Milestones[i].Key)
                            <tr class="alert-warning">
                                <td>@Html.EditorFor(model => Model.Milestones[i].Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Milestone" } })</td>
                                <td>@Html.EditorFor(model => Model.Milestones[i].StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Date" } })</td>
                                <td>@Html.EditorFor(model => Model.Milestones[i].EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "End Date" } })</td>
                                <td>@Html.EditorFor(model => Model.Milestones[i].Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Amount" } })</td>
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="danger">
                                No Milestones have been captured.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-block btn-success mb-2" value="Save Venture" title="Save Venture">Save Venture</button>
                </div>
                <div class="col-md-6">
                    @if (Model.Cause.IsPublished)
                    {
                        <button type="button" class="btn btn-block btn-danger publishStatus" value="Unpublish" title="Unpublish" data-toggle="modal" data-target="#publishModal">Unpublish</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-block btn-warning publishStatus" value="Publish" title="Publish" data-toggle="modal" data-target="#publishModal">Publish</button>
                    }
                </div>
            </div>
        </div>
    </div>


}

<!-- Modal -->
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="publishModalLabel">
                    @if (Model.Cause.IsPublished)
                    {
                        <span>Unpublish</span>
                    }
                    else
                    {
                        <span>Publish</span>
                    }

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.Cause.IsPublished)
                {
                    <span>Are you sure you want to unpublish this venture? This means donors will no longer be able to view it.</span>
                }
                else
                {
                    <span>Are you sure you want to publish this venture?</span>
                }
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary">Yes</button>*@
                @Html.ActionLink("Yes","PublishProfile",new { causeKey = Model.Cause.Key, donorKey = Model.DonorKey }, new { @class="btn btn-primary" })
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
