﻿@model FundsupWebApplication.Entity.DonorEntity

@{
    ViewBag.Title = "EditDonor";
}


<div class="row view-background">
    <div class="col-md-12">
        <h5><a href="@Url.Action("Profile", new { donorKey = Model.Key })"><i class="fa fa-arrow-circle-o-left" title="return to Home"></i></a> Edit Profile</h5>
        <hr />
    </div>

    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            @*@Html.ActionLink("Back to List", "Profile", new { donorKey = Model.Key })*@



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Key)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.Email)

            <div class="form-group">

                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-12 font-weight-bold" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-12 font-weight-bold" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CellphoneNumber, htmlAttributes: new { @class = "control-label col-md-12 font-weight-bold" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CellphoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CellphoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success btn-block" />
                </div>
            </div>

        }
    </div>
    @*<div class="col-md-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="badge badge-dark pr-1">STEP 1</span>  <span class="font-weight-bolder"> Take a Profile Pic</span>
            </div>
            <div class="col-md-12 text-center">
                <video id="video" width="340" height="180" autoplay></video>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" id="snap">Snap Away!</button>
            </div>
        </div>
    </div>*@
    @*<div class="col-md-4">
        <div class="col-md-12 text-center">
            <span class="badge badge-dark">STEP 2</span> <span class="font-weight-bolder"> Upload Profile Pic</span>
        </div>
        <div class="col-md-12 text-center">
            <canvas id="canvas" style="width:240px;height:180px;"></canvas>
        </div>
        <div class="col-md-12 text-center">
            <button id="uploadpic" class="btn btn-primary"> Upload profile pic</button>
        </div>
    </div>*@

</div>

@section Scripts {

<script>

    $(function () {

       // var video = $('#video');
       // var canvas = $('#canvas');
       // var context = $("#canvas")[0].getContext('2d');

       // // Get access to the camera!
       // if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
       //     // Not adding `{ audio: true }` since we only want video now
       //     navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
       //         //video.src = window.URL.createObjectURL(stream);
       //         video[0].srcObject = stream;
       //         video[0].play();
       //     });
       // }

       // $('#snap').click(function () {
       //     canvas[0].drawImage(video[0], 0, 0, 320, 150);

       // });

       //$('#uploadpic').click(function () {
       //     var image = new Image();
       //     image.src = canvas.toDataURL("image/png");

       // });
        //$.getJSON(siteRoot + "/Patient/GetMedicalInsurancePlans", { medicalInsurerKey: medicalInsurerKey, providerKey: '0', isIconPlansAllowed: !nonIconTreatingDoctorsExist },
        //    function (data) {
        //        var select = $("#MedicalInsurancePlan");
        //        select.empty();
        //        select.append($('<option/>', {
        //            value: "",
        //            text: "Benefit Option"
        //        }));
        //        $.each(data, function (index, data) {

        //            select.append($('<option/>', {
        //                value: data.Value,
        //                text: data.Text
        //            }));
        //        });
        //    });
    })

</script>
}
