﻿@model FundsupWebApplication.Models.ViewModels.DonateViewModel
@{
    /**/

    ViewBag.Title = "EditCause";
}

<div class="row">
    <div class="col-md-1">
        <a class="font-weight-bold" href="@Url.Action("SearchDonate","Donor", new { donorKey = Model.DonorKey })" title="return to Profile"><i class="fa fa-2x fa-arrow-circle-left"></i></a>
    </div>
    <div class="col-md-11">
        <h2>Donate towards @Html.DisplayFor(model => model.Cause.Name, new { htmlAttributes = new { @class = "form-control" } })</h2>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DonorKey)
    if (Model.Cause.Key > 0)
    {
        @Html.HiddenFor(model => model.Cause.Key)
    }
    @Html.HiddenFor(model => model.Cause.Description)
    @Html.HiddenFor(model => model.Cause.ShortDescription)
    @Html.HiddenFor(model => model.Cause.Name)

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Cause.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Cause.ShortDescription, new { @class = "form-control" })
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-4" style="line-height:45px;">Donate towards the whole venture:</div>
        <div class="col-md-8">  @Html.EditorFor(model => model.Cause.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Amount" } })</div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">Donate towards the specified milestones</div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>start Date</th>
                        <th>End Date</th>
                        <th>Amount</th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Milestones != null && Model.Milestones.Count > 0)
                    {
                        for (int i = 0; i < Model.Milestones.Count(); i++)
                        {
                            @Html.HiddenFor(model => Model.Milestones[i].CauseKey)
                            @Html.HiddenFor(model => Model.Milestones[i].Key)
                            <tr>
                                <td>
                                    @Html.EditorFor(model => Model.Milestones[i].Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Milestone", @readonly = true } })
                                    @Html.HiddenFor(model => Model.Milestones[i].Name)
                                </td>
                                <td>
                                    @Html.EditorFor(model => Model.Milestones[i].StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Date", @readonly = true } })
                                    @Html.HiddenFor(model => Model.Milestones[i].StartDate)
                                </td>
                                <td>
                                    @Html.EditorFor(model => Model.Milestones[i].EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "End Date", @readonly = true } })
                                    @Html.HiddenFor(model => Model.Milestones[i].EndDate)
                                </td>
                                <td>@Html.EditorFor(model => Model.Milestones[i].Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Amount" } })</td>
                                @*<td>@Html.ActionLink("Edit", "EditCause", "Donor", new { causeKey = milestone.Key }, new { })</td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-warning">
                                No Milestones have been captured.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <input type="submit" value="Donate" class="btn btn-default btn-block btn-success pull-right" />
        </div>
    </div>
    <br />

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
