﻿@model FundsupWebApplication.Entity.DonorEntity

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type="text/javascript">
    $(function () {

        if ($(".donations-made").length > 3) {
            $(".donations-made").slice(2, $(".donations-made").length-1).hide();
        }

        if ($(".causes-created").length > 3) {
            $(".causes-created").slice(2, $(".causes-created").length-1).hide();
        }

        $(".show-hide-donations").click(function () {

            if($(".donations-made:hidden").length) {
                $(".donations-made").slice(2, $(".donations-made").length - 1).show();
            }
            else {
                $(".donations-made").slice(2, $(".donations-made").length - 1).hide();
            }
        });

        $(".show-hide-causes").click(function () {

            if ($(".causes-created:hidden").length) {
                $(".causes-created").slice(2, $(".causes-created").length-1).show();
            }
            else {
                $(".causes-created").slice(2, $(".causes-created").length-1).hide();
            }
        });

        $("#searchCauses").autocomplete({
            appendTo: "#profileDiv",
            source: function (request, response) {
                $.ajax({
                    url: "/Donor/GetCauses",
                    type: "POST",
                    dataType: "json",
                    data: {
                        Prefix: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Key };
                        }))
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                var url = "/Donor/EditDonation?donorKey=" + @Model.Key + "&causeKey=" + ui.item.value

                window.location.href = url;
            }
        });

    });

    function GoToEditDonation(donorKey, causeKey) {
            var url = '@Html.Raw(@Url.Action("EditDonation", "Donor", new { donorKey = "__donor_key__", causeKey = "__cause_key__" }))';
            window.location.href = url.replace("__donor_key__", donorKey).replace("__cause_key__", causeKey);

        }

        function GoToEditCause(donorKey, causeKey) {
            var url = '@Html.Raw(@Url.Action("EditCause", "Donor", new { donorKey = "__donor_key__", causeKey = "__cause_key__" }))';
            window.location.href = url.replace("__donor_key__", donorKey).replace("__cause_key__", causeKey);
        }

    </script>

<div class="row view-background" id="profileDiv">

    <div class="col-md-12">
        <div class="row mb-1 mt-1">
            <div class="col-md-2 text-center">
                @if (Model.Image != null)
                {
                    var base64 = Convert.ToBase64String(Model.Image);
                    var profilePic = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@profilePic" alt="" height=80 width=150 style="border-top-left-radius:5px;border-top-right-radius:5px;" />
                }
                else
                {
                    <i class="fa fa-user-circle-o fa-5x" title="No Image Uploaded."></i>
                }

                <a href="@Url.Action("UploadProfilePicture", new { donorKey = Model.Key })" style="font-size:12px;background-color:black;color:white; " class="btn btn-block"> <i class="fa fa-upload"></i> Upload Profile Picture </a>
            </div>
            <div class="col-md-10">
                <div class="col-md-12"><b> <i class="fa fa-user" title="User"></i></b> @Model.FirstName @Model.LastName </div>
                @*<div class="col-md-12"><i>Please ensure your profile is up to date</i></div>*@
                <div class="col-md-12"><b><i class="fa fa-envelope" title="eMail Address"></i> </b> @Model.Email</div>
                <div class="col-md-12"><b><i class="fa fa-phone-square" title="Cellpone Number"></i> </b> @Model.CellphoneNumber</div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">@Html.ActionLink("Edit Donor Profile", "EditDonor", "Donor", new { donorKey = @Model.Key }, new { @class = "btn btn-block btn-danger" })</div>
            <div class="col-md-3"><a href="@Url.Action("SearchDonate", new { donorKey = Model.Key })" class="btn btn-block btn-success"><i class="fa fa-search"></i> Search &amp; Donate</a></div>
            <div class="col-md-3"><a href="@Url.Action("EditCause", new { donorKey = Model.Key })" class="btn btn-block btn-warning"> <i class="fa fa-plus-square"></i> Add new ventures </a></div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row grey-border">
            <div class="col-md-12"><i>Total donations made by you to various ventures</i></div>
            <div class="col-md-12">

                    <table class="table table-hover">
                        <thead class="thead-light ">
                            <tr>
                                <th scope="col">Venture</th>
                                <th scope="col">Amount(R)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Donations != null && Model.Donations.Count > 0)
                            {
                                foreach (var donation in Model.Donations)
                                {

                                    <tr onclick="GoToEditDonation(@Model.Key, @donation.Key)" class="donations-made" style="cursor:pointer;">
                                        <td>@donation.Name</td>
                                        <td>
                                            @{
                                                var formattedDonationAmount = String.Format("{0:N}", donation.Amount);
                                            }
                                            
                                            @formattedDonationAmount
                                        </td>
                                    </tr>
                                }

                                if (Model.Donations != null && Model.Donations.Count > 0)
                                {
                                    <tr>
                                        <td colspan="2" class="show-hide-donations"><button class="btn btn-info btn-block">Show/Hide Donations</button></td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="2" class="alert-success text-center fa-2x"><b>Total Donations:</b> <span>R</span>@Model.Donations.Sum(model => model.Amount) </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" class="alert-danger text-center"><i>No donations have been made so far.</i></td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row grey-border">
            <div class="col-md-12"><i>Your current ventures</i></div>
            <div class="col-md-12">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                @*<th>Key</th>*@
                                <th>Venture</th>
                                <th>Description</th>
                                <th>Funding (R)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Causes != null && Model.Causes.Count > 0)
                            {
                                foreach (var cause in Model.Causes)
                                {

                                    <tr class="causes-created" onclick="GoToEditCause(@Model.Key, @cause.Key)" style="cursor:pointer;">
                                        <td>@cause.Name</td>
                                        <td>
                                            @cause.ShortDescription
                                        </td>
                                        <td>
                                        @{ 
                                            var formattedCauseAmount = String.Format("{0:N}", @cause.Amount);
                                        }
                                            @formattedCauseAmount
                                        
                                        </td>
                                    </tr>
                                }

                                if (Model.Causes != null && Model.Causes.Count > 3)
                                {
                                    <tr>
                                        <td colspan="3" class="show-hide-causes"><button class="btn btn-info btn-block">Show/Hide ventures</button></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="alert-danger text-center"><i>No ventures have been created by you.</i></td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
