﻿@model FundsupWebApplication.Models.ViewModels.SearchDonateViewModel
@{   
  ViewBag.Title = "SearchDonate";
}

<div class="row view-background">
    @using (@Html.BeginForm("SearchDonate", "Donor", FormMethod.Post, new { @style = "width:100%" }))
    {
        @Html.HiddenFor(model => model.DonorKey)
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12"><a class="font-weight-bold" href="@Url.Action("Profile","Donor", new { donorKey = Model.DonorKey })" title="return to Profile"><i class="fa fa-2x fa-arrow-circle-left"></i></a> &nbsp;&nbsp; Search for ventures by making use of keywords.</div>
            </div>
            <div class="row">
                <div class="col-md-8">  @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control", @style="max-width:100% !important", placeholder="Search for a venture" } }) </div>
                <div class="col-md-4">  <button type="submit" class="btn btn-success btn-block"> Search </button> </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            @if (Model.Causes != null)
            {
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            @*<th>Key</th>*@
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th>Donate</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Causes.Count != 0)
                        {
                            foreach (var cause in Model.Causes)
                            {

                                <tr class="causes-created">
                                    @*<td>@cause.Key</td>*@
                                    <td>@cause.Name</td>
                                    <td>@cause.ShortDescription</td>
                                    <td>
                                        <a href="@Url.Action("EditDonation", "Donor", new { causeKey = cause.Key, donorKey = Model.DonorKey })"><i class="fa fa-2x fa-hand-o-right"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="causes-created">
                                @*<td>@cause.Key</td>*@
                                <td colspan="3" class="text-danger">No ventures registered on platform.</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    }

</div>