﻿@model FundsupWebApplication.Models.ViewModels.ContentViewModel

@{
    ViewBag.Title = "Upload Profile Picture";
}

<div class="row">
    <div class="col-md-12">
        <h4>Select and Upload your profile pic...</h4>
    </div>
</div>

@using (Html.BeginForm("UploadProfilePicture", "Donor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DonorKey)

    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12">
            <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
        </div>

        <div class="col-md-12">
            <input type="submit" value="Create" class="btn btn-success btn-block" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
