﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FundsUp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script>

        $(function () {
            var focusedElement;

            $("input").click(function () {
                $(this).select();
            });

            $('.datepicker').datepicker({
                format: 'yyyy/mm/dd',
                startDate: '-3d'
            });

            //avoid conflicts with other bootstrap datepickers
            var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value
            $.fn.bootstrapDP = datepicker;  
        })
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top header" style="border:none;">
        <div class="container">
            <div class="col-md-2">
                <h2 style="font-family:Comic Sans MS;">
                    <b>FundsUp</b>
                </h2>
            </div>
            <div class="col-md-10"></div>

            <div class="col-md-12">
                <h6>
                    <i> Empowering HUMANity through technology to connect the MEANS with DREAMS</i>
                </h6>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p class="font-weight-bold text-center">&copy; @DateTime.Now.Year - FundsUp. All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
