﻿/*html {
    background-color: black;
}*/



/*.view-background {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}*/

.login-header-slogan {
    font-family: 'Franklin Gothic';
    font-size: 50px;
    color: #f1f1f1;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background: linear-gradient( rgba(74,144,226,0.9), rgba(108,117,125,0.9) ),url(../Images/makeachange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom:40px !important;

    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    background-color: #565656;
    color: white;
    height: 30px !important;
}

/*purple #b19cd9*/

.login-containers {
    border: 2px solid #565656;
    border-radius: 10px;
    padding: 10px;
    margin: 1px 5px;
}

.login-containers-hero {
    background-image: url('../Images/superhero.png') !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.header {
    background-color: #565656;
    color: white;
}




/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.font-color-blue {
    color: #62aec5;
}

.font-color-pastel-blue {
    color: #add2e4
}

.font-color-pink {
    color: #e64072;
}

.font-color-pastel-pink {
    color: #f678a7;
}

.font-color-pastel-black {
    color: black;
}

.background-color-blue {
    background-color: #62aec5;
}

.background-color-pastel-blue {
    background-color: #add2e4
}

.background-color-pink {
    background-color: #e64072;
}

.background-color-pastel-pink {
    background-color: #f678a7;
}

.background-color-grey {
    background-color: #f2f2ef;
}


.grey-border {
    border: 1px solid #add2e4;
    border-radius: 5px;
    margin: 2px 2px;
    padding: 2px 2px;
}

.fundsup-login-section {
    background: white;
    border-radius: 5px;
    padding-top:10px;
    padding-bottom: 10px;
    color:#565656;
}

/*#myOnlineCamera video {
    width: 320px;
    height: 240px;
    margin: 15px;
    float: left;
    background-color:red;
}

#myOnlineCamera canvas {
    width: 320px;
    height: 240px;
    margin: 15px;
    float: left;
}

#myOnlineCamera button {
    clear: both;
    margin: 30px;
}*/