﻿@using FundsupWebApplication.Models



@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-12 fundsup-login-section">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <i class="fa fa-key"></i>
                        </div>
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 text-center">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-md-12">
                            @Html.GoogleCaptcha()
                            @Html.InvalidGoogleCaptchaLabel("Captcha is not valid!")
                        </div>*@
                    </div>
                     <div class="row">
                         <div class="col-md-3"></div>
                        <div class="col-md-8">
                            <input type="submit" value="Log in" class="btn btn-danger btn-block" />
                        </div>
                        <div class="col-md-12 mt-3 text-left">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </div>
                        <div class="col-md-12 mt-1 text-left">
                            @Html.ActionLink("Register as a new user", "Register")
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><b>OR</b> login through</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success btn-block"><i class="fa fa-google"></i><b>oogle</b></button>
                        </div>
                        <div class="col-md-12 mt-2">
                            <button class="btn btn-info btn-block"><i style="padding-right:1px;" class="fa fa-facebook-square"></i><b>acebook</b></button>
                        </div>
                    </div>
                </div>
                    }




            </div>
        </div>
        <div class="col-md-4"></div>

    </div>






@*<p class="text-center">
        <i class="fa fa-facebook-square fa-5x p-2"></i>
        <i class="fa fa-twitter-square fa-5x p-2"></i>
        <i class="fa fa-instagram fa-5x p-2"></i>
    </p>
    <p class="text-center">Press | FAQ | T&C's | Contact</p>*@




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}